<footer class="footer">
    <div class="row primary">
      <div class="column about">
        <div class="logo">   <a routerLink="home"> <img src="assets/LogoM.png" alt=" logo"></a></div>
      
        <h3>Maau Film</h3>


      <p>Welcome to Maau Film , where creativity meets the YouTube channel</p>
      <p>Our passion for storytelling comes to life through captivating visuals and compelling narratives.</p>
      <p>oin us on a cinematic journey that transcends boundaries and leaves a lasting impact on your imagination</p>
       <p>Maau Film , where every frame tells a unique and unforgettable story.
      </p>   
      </div>
      <div class="columnlinks">
        <h3>Quick Links</h3>
        <ul>
          <li>
            <a href="#faq">F.A.Q</a>
          </li>
          <li>
       
         
          <li>
            <a href="#careers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="column subscribe">
        <h3>Subscribe</h3>
        <div>
          <input type="email" placeholder="Your email id here" />
          <button>Subscribe</button>
        </div>
        <div class="social">
          
         
          <a href="https://www.instagram.com/maaufilm?igsh=cWhmZDRvb3dxeTB4"><img src="assets/instagram.png" alt="icon"> </a>
          <a href="https://www.instagram.com/maaufilm?igsh=cWhmZDRvb3dxeTB4"><img src="assets/facebook.png" alt="icon"> </a>
          <a href="https://x.com/MAAUFILM?t=70MwrAF3ZiU0a36JAs7TNQ&s=09"><img src="assets/twitter.png" alt="icon"> </a>
        
          <a href="https://youtube.com/@MAAUFILM?si=VrxTlzZF-Cmi1b98"><img src="assets/youtube.png" alt="icon"> </a>
         
          <a href="https://www.threads.net/@maaufilm"><img src="assets/threads.png" alt="icon"> </a>
     
          <a href="https://wa.me/message/7KT67A47B3CZE1"><img src="assets/whatsapp.png" alt="icon"> </a>
        
       
        
      </div>
      </div>
      
    </div>
    <div class="row secondary">
      <div>
        <p>
          <i class="fas fa-phone-alt"></i>
        </p>
        <p>+91-8850551010</p>
      </div>
      <div>
        <p><i class="fas fa-envelope"></i></p>
        <p>maaufilm@gmail.com</p>
      </div>
      <div>
        <p><i class="fas fa-map-marker-alt"></i></p>
        <p>BDD Tower Worli West Mumbai-400018</p>
      </div>
    </div>
    <div class="row copyright">
      <p>Copyright &copy; 2024  | All Rights Reserved.Developed By<a href="https://www.instagram.com/roshan_kamble19/"> Roshan Kamble</a> </p>
    </div>
  </footer>