
<br><br><hr noshade="3"><div class="container">
  <div class="image-container">
    <img src="assets/G2.jpg" alt="Description of the image ">
    <div class="description"> <b>Artist</b><p>Shruti Patel</p></div>
    

  </div>
  <div class="image-container">
    <img src="assets/G1.jpg" alt="Description of the image ">
    <div class="description"><b>Artist</b><p>Sayali</p></div>
  </div>

  <div class="image-container">
    <img src="assets/g3.jpg" alt="Description of the image ">
    <div class="description"><b>Artist</b><p>Ankita</p></div>
  </div>


  <div class="image-container">
    <img src="assets/Akashaybhai.jpg" alt="Description of the image ">
    <div class="description"><b>Advocate</b>
    </div>
    <a  href="https://www.instagram.com/akshay_sartape1?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Akshay Sartape</a>
    
  </div>


  <div class="image-container">
    <img src="assets/KK.PNG" alt="Description of the image ">
    <div class="description"><b> JJ School of Art Mumbai| Sculpture |National Rangoli artist</b> <br>
      <a  href="https://www.instagram.com/artist_kailash_khanjode?igsh=Z2l0emU5ODdvenJk">Kailash Khanjode</a></div>
  </div>




  <div class="image-container">
    <img src="assets/B1.jpg" alt="Description of the image ">
    <div class="description"><b>Choreographer</b><p>Poly</p></div>
  </div>


  <div class="image-container">
    <img src="assets/b2.jpg" alt="Description of the image ">
    <div class="description"><b>Artist</b><p>Narayan</p></div>
  </div>


  <div class="image-container">
    <img src="assets/B3.jpg" alt="Description of the image ">
    <div class="description"><b>Artist</b><p>PK</p></div>
  </div>

  <div class="image-container">
    <img src="assets/B4.jpg" alt="Description of the image ">
    <div class="description"><b>Musician</b><p>Yogesh </p></div>
  </div>

  


    
  <div class="image-container">
    <img src="assets/Suraj.jpg" alt="Description of the image ">
    <div class="description"><b>Artist</b><p>Suraj </p></div>
    
  </div>


<router-outlet></router-outlet>