<div class="container">
  <div class="left-side">
    <img src="assets\abt.png" alt="">
  </div>
  <div class="right-side">
    <h2><u>About us</u></h2>
    <p>Founded in 2022 by iconic Indian actor , 
      Director and producer DATTA CHAVAN, 
      Maau Film is a fully integrated Film production company that has produced some of the most definitive and prominent work in modern Indian cinema.
  </p>
  <p>
    Over the years, MAAU FILM has established itself as a leading film studio and a distribution company, as well as a premier visual effects studio.
    </p><br>
    <p>Film, Short film, music video, documentary, promotion video, advertisement making of Maau Film in leading in market 
    </p><br>
    
    <p>maau film is a market leader in making feature films, short films, music videos, documentaries, promotional videos, commercials advertisement. Also famous in Mumbai areas for dance, acting and zumba classes</p>
    <div class="Em">
      <p>Email: <b>maaufilm@gmail.com </b></p>
    <p>+918850551010</p> 
    </div>    
    <br>      
  </div>
  
         
</div>
<hr noshade="3">