.navbar
{
    display: flex;
  
    background-color: rgb(83, 14, 245);
    width: 100%;
    padding: 4px;
    align-items:flex-end;
    height: auto;
  
    
  

}

.site-menu
{
    padding: 10px 30px;
    margin-left: 100px;
   
 
  
}
.site-menu a
{
    float: left;
    text-align: line;
    padding: 12px;
    color:black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.site-menu div :hover{
    background-color: rgb(234, 220, 220);
}
.logo img {
    width: 100%; 
    height: auto; 
  }
  .navbar.logo{
    width: 100px;
  }
  