<div class="container">
    <h1> Nine expresstion character </h1>
    <img src="assets\Lgbt.jpg" alt="Description of the image">
    <p>Datta Chavan</p>
    <br>
    <img src="assets\tatya.jpg" alt="Description of the image">
    <br>
    <img src="assets/dram1.jpg" alt=" Drama1">
    <br>
    <img src="assets/MaauRoshan.JPG" alt="Roshan">
    <h1> <a href="https://www.instagram.com/roshan_kamble19/">Roshan Kamble</a></h1>
    <p><b> Software Engineer</b></p>
    <p>This  website developed by me. <b>mcaroshan2@gmail.com</b> </p>
    
  </div>
<router-outlet></router-outlet>