.slideshow {
    width: 100%;
    height: auto;
    
    margin: auto;
    overflow: hidden;

   
    
    
}
.slideshow img {
    width: 100%;
 display: inline;
 height: auto;


    
}
.container {
    max-width: 100% ;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  
  .text {
    flex: 2;
    padding-right: 20px; 
    color: white;
  }
  
  .image {
    flex: 1.5;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    display: block;
    background-color: blanchedalmond;
  }
  .image h2{
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.image p{
    text-align: center;
    color: white;
}
.dis li{
    font-size:larger;
    line-height: 1.5;
    font-variant: small-caps;
}
  

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: whitesmoke;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-group textarea {
  resize: vertical;
  height: 120px;
}
.form-group .btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.form-group .btn:hover {
  background-color: #c9302c;
}